* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edefee;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 2rem;
  background-color: #495e57;
}

.footer-container ul {
  list-style: none;
}

.footer-container ul li a,
.footer-container ul li,
.footer-container h3 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

form {
  display: grid;
  max-width: 300px;
  gap: 15px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

label {
  font-weight: bold;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus,
select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="submit"] {
  background: #f4ce14;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  border: none;
  padding: 10px;
}

input[type="submit"]:hover {
  background: #d6b92a;
}

@media (max-width: 400px) {
  form {
    max-width: 100%;
    padding: 15px;
  }
}

.main {
  display: flex; /* Enable Flexbox layout */
  justify-content: center; /* Center items horizontally */
}

.confirmation-container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.confirmation-container h2 {
  color: #4caf50;
}

.confirmation-container p {
  font-size: 1.2em;
  color: #555;
}

.confirmation-container a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
  transition: background-color 0.3s;
}

.confirmation-container a:hover {
  background-color: #ddd;
}
